<h2>Add new deck</h2>
<form id="js-deck-form" class="form-container" action="/decks/add/">
    <label for="name">Deck Name</label>
    <input type="text" id="name" name="name" placeholder="Example: Dummy Deck." required="required" />
    
    <label for="author">Author</label>
    <input type="text" id="author" name="author" placeholder="Your name here." required="required"  />

    <div>
        <input type="submit" class="btn green" value="Submit deck" />
        <div class="feedback"></div>
    </div>
</form>