html {
  background: #ccc;
}
a {
  text-decoration: none;
}
.template {
  display: none;
}
.slide {
  width: 150px;
  height: 150px;
  position: relative;
  margin: 10px;
  display: inline-block;
  background: #333;
  border-radius: 5px;
}
.slide-thumb {
  height: 100%;
  width: 100%;
}
.slide-title {
  font-size: 14px;
  position: absolute;
  top: 0px;
  color: #fff;
  left: 5px;
}
.r {
  text-align: right;
}
.sub {
  font-size: 13px;
  color: #333;
}
.deck {
  border-radius: 12px;
  background: #000;
  color: #fff;
  width: 165px;
  height: 165px;
  float: left;
  overflow: hidden;
  padding: 15px;
  margin: 0 25px 25px 0;
}
.main {
  padding: 20px;
  border-radius: 20px;
  background: #fff;
  width: 640px;
  margin: 50px;
}
.main::after {
  content: " ";
  display: block;
  clear: both;
}
